body {
    background-color: #FDFDE9; 
}
body, input, select, textarea, button {
    font: 13px/1.4 Helvetica,arial,freesans,clean,sans-serif;
}
html, body {
    height: 100%;
    min-width: 960px;
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    border: 0 none;
    margin: 0;
    padding: 0;
}

#wrapper {
    height: auto !important;
    margin: 0 0 -268px;
    min-height: 100%;
}
.header {
    text-shadow: 0 1px 0 #FFFFFF;
}
.marketing .header-logged-out {
    background: none repeat scroll 0 0 transparent;
}
.header-logged-out {
				padding-top: 10px;
    width: 100%;
    height: 80px;
    background-color: #FBFBD7;
}
.bookimg {
	float: right;
	margin-top: 30px;
}
.container {
    margin: 0 auto;
    width: 920px;
}
.clearfix {
    display: block;
}
.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}
.header-logo-wordmark {
    float: left;
    margin: 9px 10px 9px 0;
    position: relative;
}
.sign {
    position:absolute;
    left:600px;
    top:20px
}

.name {
    position:relative;
    float:left;
    left:180px;
    margin:10px;
}
.signupButton {

-moz-box-shadow:inset 0px 1px 0px 0px #a4e271;
-webkit-box-shadow:inset 0px 1px 0px 0px #a4e271;
box-shadow:inset 0px 1px 0px 0px #a4e271;

background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #89c403), color-stop(1, #77a809));
background:-moz-linear-gradient(top, #89c403 5%, #77a809 100%);
background:-webkit-linear-gradient(top, #89c403 5%, #77a809 100%);
background:-o-linear-gradient(top, #89c403 5%, #77a809 100%);
background:-ms-linear-gradient(top, #89c403 5%, #77a809 100%);
background:linear-gradient(to bottom, #89c403 5%, #77a809 100%);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#89c403', endColorstr='#77a809',GradientType=0);

background-color:#89c403;

-moz-border-radius:6px;
-webkit-border-radius:6px;
border-radius:6px;

border:1px solid #74b807;

display:inline-block;
color:#ffffff;
font-family:arial;
font-size:15px;
font-weight:bold;
padding:6px 18px;
text-decoration:none;

text-shadow:0px 1px 0px #528009;
float:left;
position:relative;
left:320px;
}
.signupButton:hover {

background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #77a809), color-stop(1, #89c403));
background:-moz-linear-gradient(top, #77a809 5%, #89c403 100%);
background:-webkit-linear-gradient(top, #77a809 5%, #89c403 100%);
background:-o-linear-gradient(top, #77a809 5%, #89c403 100%);
background:-ms-linear-gradient(top, #77a809 5%, #89c403 100%);
background:linear-gradient(to bottom, #77a809 5%, #89c403 100%);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#77a809', endColorstr='#89c403',GradientType=0);

background-color:#77a809;
}
.signupButton:active {
position:relative;
top:1px;
}


.signinButton {

-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
box-shadow:inset 0px 1px 0px 0px #ffffff;

background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf));
background:-moz-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
background:-webkit-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
background:-o-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
background:-ms-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
background:linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf',GradientType=0);

background-color:#ededed;

-moz-border-radius:6px;
-webkit-border-radius:6px;
border-radius:6px;

border:1px solid #dcdcdc;

display:inline-block;
color:#777777;
font-family:arial;
font-size:15px;
font-weight:bold;
padding:6px 18px;
text-decoration:none;

text-shadow:0px 1px 0px #ffffff;
float:left;
position:relative;
left:335px;
}
.signinButton:hover {

background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed));
background:-moz-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
background:-webkit-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
background:-o-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
background:-ms-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
background:linear-gradient(to bottom, #dfdfdf 5%, #ededed 100%);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed',GradientType=0);

background-color:#dfdfdf;
}
.signinButton:active {
position:relative;
top:1px;
}

.logout {
-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
box-shadow:inset 0px 1px 0px 0px #ffffff;
background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
background-color:#ededed;
-moz-border-radius:6px;
-webkit-border-radius:6px;
border-radius:6px;
border:1px solid #dcdcdc;
display:inline-block;
color:#777777;
font-family:arial;
font-size:15px;
font-weight:bold;
padding:6px 18px;
text-decoration:none;
text-shadow:1px 1px 0px #ffffff;
position:relative;
left:265px;
float:left;
}
.logout:hover {
background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
background-color:#dfdfdf;
}
.logout:active {
position:relative;
top:1px;
}

.contentintro{
	height: 350px;
	width: 850px;
	margin: 10px 35px 0 35px;	
}
.firstleft{
	margin: 35px 10px;
	float: left;
}
.firstright{
	float: right;
    margin: 50px 37px;
    font-size: 13px;
    color: #AAB0B5;
    width: 280px;
    height: 240px;
}
.secondleft{
    margin: 30px 75px;
    width: 240px;
    height: 250px;
    float: left;	
    font-size: 13px;
    color: #AAB0B5;
}
.secondright{
	margin: 30px 40px;
	float: right;
}
.thirdleft{
	float: left;
	margin:35px 10px;
	}
.thirdright{
	float: right;
	margin:50px 37px;
	font-size: 13px;
	color: #AAB0B5;
	height: 240px;
	width: 260px;
}
.fourthimg{
    background-image:url('../img/bookback_mini.jpg');
    background-repeat:no-repeat;
    height:350px;
    width:480px;
    margin:0 190px;
}
.fourthleft{
    float:left;
    font-size:13px;
    color: #AAB0B5;
    height:190px;
    width:150px;
    margin:60px 0px 0 30px;
}
.fourthright{
    float:right;
    font-size;13px;
    color: #AAB0B5;
    height: 190px;
    width: 150px;
    margin:60px 30px 0 0;
}
	
.fourthright a{
	color: #4183C4;
    text-decoration: none;
}
.fourthright a:hover {
	color: #FF8700;
    text-decoration: none;
}
.content {
    padding: 0;
    width: 100%;
}

.about {
    width:100%;
    height:5px;
    background-color:#2F8F00;
    margin:50px 0 25px 0;
}
#footer {
    color: #777777;
    font-size: 12px;
    line-height: 1.5;
    margin: 40px 0 0;
    position: relative;
    text-shadow: 0 1px 0 #FFFFFF;
}
#footer .container {
    border-top: 1px solid #EEEEEE;
    padding: 30px 0;
}
.footer_nav {
    float: left;
    margin-bottom: 20px;
    width: 20%;
}
.footer_nav dt {
    color: #52595D;
    font-weight: bold;
}
.footer_nav a {
    color: #4183C4;
    text-decoration: none;
}
.footer_nav a:hover {
    color:#FF8700;
    text-decoration: none;
}
.footer-divider {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #EEEEEE -moz-use-text-color -moz-use-
    border-image: none;
    border-right: 0 none;
    border-style: solid none none;
    border-width: 1px 0 0;
    margin: 0 0 20px;
}
hr {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 transparent;
    border-color: -moz-use-text-color -moz-use-text-color #DDDDDD;
    border-image: none;
    border-style: none none solid;
    border-width: medium medium 1px;
    color:#EEEEEE;
    clear: both;
    height: 0;
    margin: 15px 0;
    overflow: hidden;
}
#footer .right {
    margin: 0;
}
.right {
    float: right;
}
.right p {
    margin: 1em 0;
}

.create {
	-moz-box-shadow:inset 0px 1px 0px 0px #c1ed9c;
	-webkit-box-shadow:inset 0px 1px 0px 0px #c1ed9c;
	box-shadow:inset 0px 1px 0px 0px #c1ed9c;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #9dce2c), color-stop(1, #8cb82b) );
	background:-moz-linear-gradient( center top, #9dce2c 5%, #8cb82b 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#9dce2c', endColorstr='#8cb82b');
	background-color:#9dce2c;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #83c41a;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 18px;
	text-decoration:none;
	text-shadow:1px 1px 0px #689324;
    position:relative;
    float:left;
    left:250px;
}
.create:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #8cb82b), color-stop(1, #9dce2c) );
	background:-moz-linear-gradient( center top, #8cb82b 5%, #9dce2c 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#8cb82b', endColorstr='#9dce2c');
	background-color:#8cb82b;
}
.create:active {
	position:relative;
	top:1px;
}

