{% extends 'base.html'%}
{% block title %}404 not found{% endblock %}
{% block head %}
    {{ super() }}
    <link type="text/css" rel="stylesheet" media="screen" href="../static/css/404.css"/>
{% endblock %}
{% block header %}
<div class="container clearfix">
    <a href="/"><img  class="header-logo-wordmark" border="0" src="../static/img/title1.png"/></a>
</div>
{% endblock %}
{% block content %}
<div id="content">
    <p>page not found</p>
    <p>What you were looking for is just not there.</p>
    <p><a href="{{ url_for('index') }}">go somewhere nice</a></p>
</div>
{% endblock %}
