<!doctype html>
<html class="" lang="zh-CN">
    <head>
        {% block head %}
        <meta charset="utf-8" />
        <meta name="description" content="为自己的生活写一本书。">
        <title>{% block title %}{% endblock %}</title>
        <!--
        <link type="text/css" rel="stylesheet" media="screen" href="../static/css/base.css" />
        -->
        <link type="text/css" rel="stylesheet" media="screen" href="{{ url_for('static', filename='css/base.css') }}" />
        <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico"></link>
        {% endblock %}
    </head>
    <body>
        <div class="newtop">
            {% block newtop %}
                {% if current_user.is_authenticated() %}
                    <a href="{{ url_for('logout') }}" class="out">退出</a>
                    <a href="{{ url_for('setting') }}" class="setting">设置</a>
                    <a href="{{ url_for('create') }}" class="topcreate">创作</a>
                    <span class="name">{{ current_user.username }}</span>
                {% else %}
                    <span class="name">为自己的生活写一本书</span>
                {% endif %}
            {% endblock %}
        </div>
        <div class="header header-logged-out">
            {% block header %}
                <div class="container clearfix">
                    <img  class="header-logo-wordmark" border="0" src="../static/img/titlelogo.png"/>
                </div>
            {% endblock %}
        </div>
            <div class="container clearfix">
            {% block content %}
                <div class="contentintro">
                    <div class="firstleft">
                    <p style="font-size:43px;color:#595757">Thinking,writing,<br/>make life wonderful.</p>
                    <p style="font-size:16px;color:#8C979F">
                    lemonbook now is a website based on flask. You can write dowm your mood or things happened around you.
                    <br/>Please enjoy it.
                    </div>
                    <img src="../static/img/balloon.png" class="firstright"></img>
                </div>
                <div class="contentintro">
                    <img src="../static/img/bookback_mini.jpg" class="secondleft"></img>
                    <p class="secondright">Maybe Lemonbook can bring you pleasure.<br/>
                    if you want to have a try,<br/><br/>
                    please
                    <a href='{{ url_for('login') }}' class="signinButton" >login</a>
                    <br/><br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;or
                    <a href='{{ url_for('register') }}' class="signupButton"> sign up for free</a>
                </div>
            {% endblock %}
            </div>
            <div id="footer">
                <div class="about">
                </div>
                <div class="container clearfix">
                    <dl class="footer_nav">
                        <dt>lemon</dt>
                        <dd>
                        <a href="{{ url_for('aboutme') }}" target="_blank">About me</a>
                        </dd>
                        <dd>
                        <a href="http://liontree.github.io/" target="_blank">Blog</a>
                        </dd>
                        <dd>
                        <a href="mailto:zying1023@gmail.com">Contact & support</a>
                        </dd>
                    </dl>
                    <dl class="footer_nav">
                        <dt>Applications</dt>
                        <dd>
                        <a href="{{ url_for('app') }}">for ios</a>
                        </dd>
                        <dd>
                        <a href="{{ url_for('app') }}">for Android</a>
                        </dd>
                        <dd>
                        <a href="{{ url_for('app') }}">for windows phone</a>
                        </dd>
                    </dl>
                    <dl class="footer_nav">
                        <dt>Documentation</dt>
                        <dd>
                        <a href="http://dormousehole.readthedocs.org/en/latest/" target="_blank">flask</a>
                        </dd>
                        <dd>
                        <a href="http://pythonhosted.org/Flask-SQLAlchemy/" target="_blank">Flask-SQLAlchemy</a>
                        </dd>
                        <dd>
                        <a href="http://docs.python.org/2.7/" target="_blank">Python</a>
                        </dd>
                        <dd>
                        <a href="http://jinja.pocoo.org/docs/" target="_blank">jinja2</a>
                        </dd>
                    </dl>
                    <dl class="footer_nav">
                        <dt>Follow me</dt>
                        <dd>
                        <a href="http://www.douban.com/people/lovelyLemon/" target="_blank">douban</a>
                        </dd>
                        <dd>
                        <a href="http://weibo.com/zying1826" target="_blank">sina weibo</a>
                        </dd>
                        <dd>
                        <a href="https://github.com/liontree" target="_blank">github</a>
                        </dd>
                    </dl>
                    <dl class="footer_nav">
                        <dt>More</dt>
                        <dd>
                        <a href="http://douban.fm/?cid=1000481" target="_blank">enjoy music</a>
                        </dd>
                    </dl>
                    <hr class="footer-divider">
                    <p class="right">
                    © 2013
                    <span title="这里暂时空缺..">lemonbook</span>
                     . All rights reserved.
                    </p>
                </div>
            </div>
    </body>
</html>
