<!doctype html>
<html class="" lang="zh-CN">
    <head>
        {% block head %}
        <meta charset="utf-8" />
        <meta name="description" content="为自己的生活写一本书。">
        <title>{% block title %}{% endblock %}</title>
        <link type="text/css" rel="stylesheet" media="screen" href="../static/css/base.css" />
        {% endblock %}
    </head>
    <body>
            <div class="header header-logged-out">
            {% block header %}
                <div class="container clearfix">
                    <a href="/"><img  class="header-logo-wordmark" border="0" src="../static/img/titlelogo.png"/></a>
                    {% if name and current_user.is_authenticated() %}
                        <span class="name">{{ name }}的创作之地</span>
                        <a href='{{ url_for('create') }}' class="create">create</a>
                        <a href='/' class="logout">logout</a>
                    {% else %}
                        <a href='/register' class="signupButton"> sign up for free</a>
                        <a href='/login' class="signinButton" >login</a>
                    {% endif %}
                </div>
            {% endblock %}
            </div>
            <div class="begintaste"></div>
            <div class="container clearfix">
            {% block content %}
                {% if name %}
                <div>
                    <p>这里的功能暂时还没有实现</p>
                </div>
                {% else %}
                <div class="bookback">
                    <p>
                    </p>
                </div>
                <span style="font-size:14px; margin:10px 0 30px 0; color:#B9BEC2">
                </span>
                {% endif %}
            {% endblock %}
            </div>
            <div id="footer">
            {% block footer %}
                <div class="about">
                </div>
                <div class="container clearfix">
                    <dl class="footer_nav">
                        <dt>lemon</dt>
                        <dd>
                        <a href="/about/aboutme" target="_blank">About me</a>
                        </dd>
                        <dd>
                        <a href="http://liontree.github.io/" target="_blank">Blog</a>
                        </dd>
                        <dd>
                        <a href="">Contact & support</a>
                        </dd>
                    </dl>
                    <dl class="footer_nav">
                        <dt>Applications</dt>
                        <dd>
                        <a href="#">for ios</a>
                        </dd>
                        <dd>
                        <a href="#">for Android</a>
                        </dd>
                        <dd>
                        <a href="#">for windows phone</a>
                        </dd>
                    </dl>
                    <dl class="footer_nav">
                        <dt>Documentation</dt>
                        <dd>
                        <a href="http://dormousehole.readthedocs.org/en/latest/" target="_blank">flask</a>
                        </dd>
                        <dd>
                        <a href="http://pythonhosted.org/Flask-SQLAlchemy/" target="_blank">Flask-SQLAlchemy</a>
                        </dd>
                        <dd>
                        <a href="http://docs.python.org/2.7/" target="_blank">Python</a>
                        </dd>
                        <dd>
                        <a href="http://jinja.pocoo.org/docs/" target="_blank">jinja2</a>
                        </dd>
                    </dl>
                    <dl class="footer_nav">
                        <dt>More</dt>
                        <dd>
                        <a href="">...</a>
                        </dd>
                    </dl>
                    <hr class="footer-divider">
                    <p class="right">
                    © 2013
                    <span title="这里暂时空缺..">lemonbook</span>
                    , Inc. All rights reserved.
                    </p>
                </div>
            {% endblock %}
            </div>
    </body>
</html>
