{% extends 'base.html' %}
{% block title %}密码找回{% endblock %}
{% block head %}
{{ super() }}
<link type="text/css" rel="stylesheet" media="screen" href="../static/css/signin.css"/>
{% endblock %}
{% block content %}
<div id="content">
    <p style="font-size:24px;">密码找回</p>
    <div class="article">
        <form method="post" action="">
            <div class="item">
                <label>邮箱</label>
                <input id="email" name="email" class="basic-input" maxlength="64" tabindex="1" type="text">
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        {% for message in messages %}
                            <span class="error-tip">{{ message }}</span>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
            </div>
            <div class="item">
                <label>&nbsp;&nbsp;</label>
                <input value="确 认" name="pwfind" class="login" tabindex="2" type="submit">
            </div>
        </form>
    </div>
</div>
{% endblock %}
