<!doctype html>
{% extends 'base.html' %}
{% block title %}最新记录{% endblock %}
{% block head %}
{{ super() }}
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
<style type="text/css">
    a {
        text-decoration:none;
        color:#4183C4;
    }
    a:hover{
        text-decoration:none;
        color:#8C979F;
    }
    pre {
        font-size:13px;
        color:#575B5D;
        white-space: pre-wrap;
        width: 40em;
        width: 70ch;
    }
</style>
<script>
  $(function() {
    $( "#datepicker" ).datepicker();
    });
</script>
{% endblock %}
{% block header %}
<div class="container clearfix">
<img  class="header-logo-wordmark" border="0" src="../static/img/titlelogo.png"/>
</div>
{% endblock %}
{% block newtop %}
<a href="{{ url_for('logout') }}" class="out">退出</a>
<a href="" class="setting">设置</a>
<a href="{{ url_for('create') }}" class="topcreate">创作</a>
<span class="name">{{ current_user.username }}</span>
{% endblock %}
{% block content %}
{% if contents %}
<div style="float:right; width:600px;overflow:hidden;margin:40px 10px 40px 0">
<pre>{{ contents }}</pre>
</div>
<p style="float:left; margin:40px 0">Date: <input type="text" id="datepicker" /></p>
{% else %}
<p style="font-size:30px;color:#8C979F;margin:100px 240px">
这里还没有记录，现在<a href="{{ url_for('create') }}">开始</a>吧？</p>
{% endif %}
{% endblock %}
